.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  margin-top: 20px;
  position: absolute;
  bottom: 10px;
  left: 58%;
  transform: translateX(-50%);
}

.pagination-button {
  background: #ffffff;
  color: #212b36;
  border: 0.66px solid #dfe3e8;
  border-radius: 2.63px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.pagination-button.active {
  border: 0.66px solid #1b48da;
  color: #1b48da;
}

.pagination-button:disabled {
  background-color: #919eab;
  color: #c4cdd5;
  cursor: not-allowed;
  border: none;
}

.pagination-text {
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .pagination-container {
    left: 61%;
  }
}
