.register {
  margin: 0;
  padding: 0;
}

.sections {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.leftsection,
.rightsection {
  box-sizing: border-box;
}

.leftsection {
  width: 37%;
  background-image: url("../assets/bg_image.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  padding: 20px 0px 0px 20px;
}

.rightsection {
  width: 63%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.signup,
.login {
  width: 65px;
  height: 39px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.signup {
  color: #3b3c51;
  background: none;
}

.login {
  color: #ffffff;
  background-color: #1b48da;
  border-radius: 6px;
}

.placeholders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.text {
  width: 411px;
  font-size: 20px;
  color: #3b3c51;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.name-input,
.register-button {
  box-sizing: border-box;
}

.name-input {
  width: 411px;
  height: 42px;
  border: 1px solid #3B3C51;
  border-radius: 4px;
  padding: 0px 15px;
  font-size: 18px;
  font-weight: 500;
}

.name-input::placeholder {
  color: #b3b3b3;
}

.register-button {
  width: 411px;
  height: 42px;
  border: none;
  background-color: #1b48da;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 6px;
  padding: 0 15px;
  margin-top: 10px;
  cursor: pointer;
}

.bottomtext {
  font-size: 16px;
  font-weight: 600;
  color: #3b3c51;
  width: 411px;
  text-align: center;
}

.bottomtext a {
  color: #1b48da;
  text-decoration: none;
}

.mobile-logo {
  display: none;
}

.logo-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .leftsection {
    display: none;
  }

  .rightsection {
    width: 100%;
    padding: 20px;
  }

  .mobile-logo {
    display: block;
  }

  .logo-buttons-container {
    margin-bottom: 40px;
  }

  .text,
  .name-input,
  .register-button,
  .bottomtext {
    width: 100%;
  }

  .name-input {
    font-size: 16px;
  }

  .register-button {
    font-size: 14px;
  }
}
