.settingsform {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.settings-compo {
  width: 392px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.settings-compo label {
  font-size: 14px;
  font-weight: 600;
  color: #181820;
}

.settings-compo input {
  height: 29px;
  width: 266px;
  padding: 2px 14px;
  border: 1px solid #ececf2;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  color: #3b3c51;
}

.settings-btns {
  margin-bottom: 18px;
}

.settings-btns button {
  width: 392px;
  height: 39px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.settingspopup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.settings-popup {
  width: 496px;
  height: 222px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  background-color: #ffffff;
  
}

.settingspopup-txt {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.settingspopup-btn {
  display: flex;
  gap: 30px;
}

.popup-close {
  margin-left: 450px;
  margin-top: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.settingspopup-btn button {
  width: 179px;
  height: 34px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}


@media (max-width: 480px) {
  .settingsform {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .settings-compo {
    width: 392px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .settings-compo input {
    height: 29px;
    width: 266px;
    padding: 2px 14px;
    border: 1px solid #ececf2;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px #1018280d;
  }

  .settings-btns button {
    width: 392px;
    height: 39px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
  }

  .settings-popup {
    width: 90%; 
    max-width: 350px; 
    height: 170px; 
    padding: 15px; 
    gap: 30px; 
  }

  .settingspopup-txt {
    font-size: 14px; 
  }

  .settingspopup-btn {
    gap: 15px; 
  }

  .settingspopup-btn button {
    width: 120px; 
    height: 30px; 
    font-size: 14px; 
  }

  .popup-close {
    font-size: 14px; 
    margin-left: 315px;
    margin-top: 0px;
  }
}
