.home-container {
  margin-left: 30px;
  margin-top: 40px;
}

.total-clicks {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #181820;
}

.total-clicks p {
  display: flex;
  gap: 40px;
}

.total-clicks span {
  color: #1b48da;
}

.home-content {
  display: flex;
  gap: 20px;
}

.datewise-clicks,
.device-clicks {
  width: 400px;
  height: 330px;
  padding: 0px 20px;
  border: 1px solid #ececf2;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  background: #fff;
  font-size: 16px;
  font-weight: 700;
  color: #181820;
}

.datewise-clicks h3,
.device-clicks h3 {
  font-size: 14px;
  font-weight: 500;
  color: #1b48da;
  margin-bottom: 40px;
}

.click-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.date-span {
  width: 70px;
}

.clicks-span {
  width: 30px;
}

.progress-bar {
  width: 60%;
  background: #eee;
  height: 15px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: #1b48da;
}


/*Media Query*/
@media (max-width: 1024px) {
  .home-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
  }

  .total-clicks {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .total-clicks p {
    gap: 20px;
  }

  .home-content {
    flex-direction: column;
    gap: 20px;
  }

  .datewise-clicks,
  .device-clicks {
    height: 300px;
    width: auto;
    padding: 0px 15px;
    margin-bottom: 20px;
  }

  .datewise-clicks h3,
  .device-clicks h3 {
    font-size: 13px;
    margin-bottom: 20px;
  }
}
